<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <title><%= page_title %></title>
    
    <%- include('inc/head'); %>

    <link type="text/css" rel="stylesheet" href="jsgrid/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="jsgrid/jsgrid-theme.min.css" />
    <script type="text/javascript" src="jsgrid/jsgrid.min.js"></script>

    <script>
      $('#jsGrid').jsGrid({
        width: '100%',
        height: '400px',
        inserting: false,
        editing: false,
        sorting: true,
        paging: true,
        data: [
          { timestamp: 'yesterday', data: 'ip/url/etc...' }, 
          { timestamp: 'today', data: 'ip/url/etc...' }, 
          { timestamp: 'tomorrow', data: 'ip/url/etc...' }, 
        ],
        fields: [
          { name: 'timestamp', type: 'text', width: 200 },
          { name: 'data' },
        ],
      });

    </script>
  </head>
  <body>

    <div class="clearfix title-bar">
      <div class="title-badge">
        <span style="font-size: small" class="code-inline">
          <!--<img src="img/_dtt-logo.png" width="29" />-->
          dtt
          | ben.sturley
          | svetoslav.nunev
        </span>
      </div>
      <h4 style="margin-top: 0px; margin-bottom: 0px;">
        <a href="https://dttdeliveries.co.uk/" target="_blank"><img src="img/dtt-logo_bb.png" width="60" /></a>
        <%= page_title %>
      </h4>
    </div>

    <!-- Start Top Bar -->
    <div class="top-bar">
    </div>
    <!-- End Top Bar -->

    <div class="callout small success">
      <div class="row column text-center">
        Hello!
      </div>
    </div>

    <div>

      <div id="jsGrid"></div>

    </div>




    <%- include('inc/footer'); %>
  </body>
</html>
